body{
    padding: 0;
    margin: 0;
    background-color: brown;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
    background-color: black;
    color: white;
}
header, section{
    padding: 30px;
}
h1, h2{
    margin: 0;
}
hr{
    margin: 0;
}
strong{
    color: tomato;
}
.movies ul li{
    list-style: decimal;
}

.mood div{
    display: flex;
    align-items: flex-end;
}
.mood img{
    max-width: 400px;
}
.mood p{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 0;
}

.title{
    margin: 25px 0;
    color: tomato;
}
.txt::first-letter{
    color: chartreuse;
    font-size: 1.5em;
}

ul li a{
    text-decoration: none;
    color: yellow;
}
ul li a:hover{
    text-decoration: underline;
    color: chartreuse;
}